.App {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  --purple: #CF6BDD;
  --blue: #101820;
  --speed: 0.5s;
  background-color: var(--blue);
  color: var(--purple);
}

h2 {
  margin: 0;
}

hr {
  color: var(--purple);
}

button{
  cursor: pointer;
  background-color: var(--blue);
  border: 2px solid var(--purple);
  color: var(--purple);
  padding: 0.5%;
  margin: 1%;
  transition-duration: var(--speed);
}

button:hover {
  background-color: var(--purple);
  color: var(--blue);
}

.algorithm-selection {
  padding: 2%;
}

.algorithm-value {
  margin: 1%;
  padding: 1%;
  background-color: var(--purple);
  color: white;
}

.algorithms {
  width: 100%;
  display: flex;
  height: 20%;
  justify-content: center;
  align-items: flex-end;
}
