.App {
  display: flex;
  align-items: center;
  /*justify-content: center;*/
  flex-direction: column;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  --purple: #CF6BDD;
  --blue: #101820;
  background-color: var(--blue);
  color: var(--purple);
}

h2 {
  margin: 0;
}

hr {
  color: white;
}

.algorithm-selection {
  padding: 2%;
}

.algorithm-value {
  margin: 5% 5%;
}

.algorithms {
  display: flex;
}
